body {
  background-color: lavendar;
  background-image: url("../img/dices.jpg");
  padding: 5em 0;

}
#pig {
  color: #fff;
  font-size: 100px;
  font-weight: 400;
  text-indent: 5em;
   background: powderblue;
   text-align: center;
}

.px {
  color: blue;
  font-variant: small-caps;
  background: plum;
  font-size: 30px;
  font-style: oblique;
}

#max {
color: red;
background: green;
font-weight: 400;
text-indent: 3mm;
text-indent: 40px;
}

.play {
  font-size: 30px;
  font-weight: bold;
  background: grey;
}

#tap {
  text-decoration-color:#581845;
  font-size: 27px;
  background: #344cff;

}

#tap. h1 {
  color: #fff;
}

#Roll-total {
  font-size: 28px;
  font-weight:bold;
  background: #fff;

}


#cur {
  background: #fff;
  font-size: 24px;
  font-weight: 100;

}
#roller {
  background: black;
  font-size: 40px;
  font-weight:lighter;
}
#roll {
